# Bağımlılıklar
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug / log
npm-debug.*
*.log
*.tsbuildinfo

# Yerel ortam
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
*.pem
